/* Page Sections */
body {background-color: #404040;}
header {background-color: #a6a6a6; padding: 15px;}
nav {background-color: #808080; text-align: left; padding: 5px;}
aside {background-color: #cccccc; text-align: left; padding: 30px;}

/* Headers */
h1 {text-align: center;}
h2 {text-align: center;}

/* Dividers */
div.websites {background-color: #ffffff; width: 250px; text-align: left; border-style: solid; border-width: 2px; margin: 5px; float: left; padding: 10px;}

/* Align */
div.home-align {margin-left: 200px;}
div.science-align {margin-left: 0px;}
div.freshman-advisory-align {margin-left: 0px;}
div.english-align {margin-left: 0px;}
div.band-align {margin-left: 0px;}
div.history-align {margin-left: 350px;}
div.spanish-align {margin-left: 0px;}
div.algebra-align {margin-left: 0px;}
