/* Page Sections */
body {background-color: #404040;}
header {background-color: #a6a6a6; padding: 15px;}
nav {background-color: #808080; text-align: left; padding: 1px;}
aside {background-color: #cccccc; text-align: left; padding: 30px;}

/* Headers */
h1 {text-align: center;}
h2 {text-align: center;}

/* Links */
a:link {color: #0000ff;}
a:visited {color: #0000ff;}
a:hover {color: #0000ff;}
a:active {color: #0000ff;}

/* Dividers */
div.websites {background-color: #ffffff; width: 250px; height: 200px; text-align: left; border-style: solid; border-width: 2px; margin: 5px; float: left; padding: 10px;}
div.summary {text-align: center;}
div.box-align {margin-left: 5%; margin-right: auto; height: 200px;}
