/* Home */
.home {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}
.home:hover {
  background-color: #404040;
  color: #ffffff;
}

/* Science */
.science {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}
.science:hover {
  background-color: #404040;
  color: #cc80ff;
}

/* Freshman Advisory */
.freshman-advisory {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}
.freshman-advisory:hover {
  background-color: #404040;
  color: #ffffff;
}

/* English */
.english {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}
.english:hover {
  background-color: #404040;
  color: #ff8080;
}

/* Band */
.band {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}
.band:hover {
  background-color: #404040;
  color: #ffffff;
}

/* History */
.history {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}
.history:hover {
  background-color: #404040;
  color: #80ff80;
}

/* Spanish */
.spanish {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}
.spanish:hover {
  background-color: #404040;
  color: #ffbf80;
}

/* Algebra */
.algebra {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}
.algebra:hover {
  background-color: #404040;
  color: #80bfff;
}
