body {
  background-color: #404040;
}

header {
  background-color: #a6a6a6;
  padding: 15px;
}

nav {
  background-color: #808080;
  text-align: left;
  padding: 5px;
}

aside {
  background-color: #cccccc;
  padding: 30px;
}

h1 {
  text-align: center;
}

.navigation {
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 5px 20px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
}

.navigation:hover {
  background-color: #404040;
}
