body {
  background-color: #404040;
}

header {
  background-color: #a6a6a6;
  padding: 15px;
}

nav {
  background-color: #808080;
  text-align: left;
  padding: 5px;
  overflow: scroll;
}

aside {
  background-color: #cccccc;
  padding: 30px;
}

h1 {
  text-align: center;
}
