/* Page Sections */
body {background-color: #404040;}
header {background-color: #a6a6a6; padding: 15px;}
nav {background-color: #808080; text-align: left; padding: 5px;}
aside {background-color: #cccccc; padding: 30px;}

/* Headers */
h1 {text-align: center;}

/* Dividers */
div.dublin {border: 2px; padding: 10px;}
div.google {border: 2px; padding: 10px;}
div.games {border: 2px; padding: 10px;}
